@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.bg-center {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.d-flex {
  display: flex; }

.flex-column {
  flex-direction: column; }

.flex-wrap {
  flex-wrap: wrap; }

.jc-center {
  justify-content: center; }

.jc-star {
  justify-content: flex-start; }

.jc-end {
  justify-content: flex-end; }

.jc-around {
  justify-content: space-around; }

.jc-between {
  justify-content: space-between; }

.align-star {
  align-items: flex-start; }

.align-center {
  align-items: center; }

.align-end {
  align-items: flex-end; }

.h-100 {
  height: 100%; }

.mr-1 {
  margin-right: 0.5rem; }

.mb-1 {
  margin-bottom: 0.5rem; }

.mb-2 {
  margin-bottom: 1rem; }

.border-t {
  border-top: 1px solid #000 !important; }

.sub-title {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3.75rem; }
  @media (max-width: 992px) {
    .sub-title {
      font-size: 2rem;
      margin-bottom: 2rem; } }
  @media (max-width: 767px) {
    .sub-title {
      font-size: 1.5rem;
      margin-bottom: 1rem; } }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-white {
  color: #fff; }

.text-p-dark {
  color: #650300; }

@media (max-width: 992px) {
  .sm-img {
    display: none; } }

.md-img {
  display: none; }
  @media (max-width: 992px) {
    .md-img {
      display: block; } }

@media (max-width: 992px) {
  .jc-md-center {
    justify-content: center; }
  .order-md-1 {
    order: 1; }
  .order-md-2 {
    order: 2; } }

@media (max-width: 767px) {
  .d-sm-none {
    display: block; }
  .jc-sm-center {
    justify-content: center; }
  .mb-sm-1 {
    margin-bottom: 0.5rem; } }

/* rwd img css */
img {
  max-width: 100%;
  height: auto; }

a {
  color: inherit;
  text-decoration: none; }

/* 全域 border box */
*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

/********************
Header menu
**********************/
header {
  background: #AA0601;
  height: 108px;
  padding: 0 88px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo a {
  display: block;
  width: 80px;
  height: 49px;
  background: url("../img/logo.png");
  /* 圖片取代文字技巧 */
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  color: #FFFFFF; }

.menu {
  display: flex;
  justify-content: space-between;
  /* 80*2 + 332 */
  width: 100%;
  max-width: 492px;
  text-align: center; }

.menu li a {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 30px;
  display: block;
  text-decoration: none; }

.menu li a:hover {
  cursor: pointer; }

.btn-hamburger {
  display: none;
  position: absolute;
  left: 16px;
  width: 24px;
  color: #FFFFFF; }

/* RWD: Pad */
@media (max-width: 992px) {
  header {
    padding: 0 48px; }
  .menu {
    /* 80*2 + 260 */
    max-width: 420px; } }

/* RWD: mobile */
@media (max-width: 767px) {
  header {
    height: 50px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .logo a {
    width: 48px;
    height: 30px;
    background: url(../img/logo-mobile.png); }
  .btn-hamburger {
    display: block; }
  .menu {
    max-height: 0px;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.8s;
    z-index: 1; }
  .menu.active {
    max-height: 252px; }
  .menu li {
    display: block;
    background: #AA0601;
    color: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    padding: 16px 0;
    z-index: 1; }
  .menu li:hover {
    background: #8f0400; } }

/************************
* footer
 ****************************/
.footer {
  padding: 2.5rem 1.5rem;
  /* 36px */
  background: #aa0601;
  color: #ffffff; }

.footer .linkMap-contactMethod-socialIcon {
  display: flex;
  justify-content: space-between;
  /* 24px */
  margin-bottom: 1.5rem;
  border-bottom: 1px solid white; }

.footer .link-map {
  /* 32px */
  margin-bottom: 2rem;
  display: flex; }

.footer .link-map li {
  /* 48px */
  padding-right: 3rem; }

.footer .link-map li:last-child {
  padding-right: 0; }

.footer a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5rem; }

.footer .info-contact {
  /* 24px */
  padding-bottom: 1.5rem;
  /* 36px */
  font-size: 2.25rem;
  line-height: 54px; }

.footer .info-contact li {
  display: flex;
  align-items: center;
  /* 16px */
  margin-bottom: 1rem; }

.footer .info-contact li:last-child {
  margin-bottom: 0; }

.footer .info-contact li .img-wrap {
  width: 60px;
  display: flex;
  justify-content: start;
  align-items: center; }

.footer .info-social {
  display: flex; }

.footer .info-social li {
  margin-right: 1.5em; }

.footer .info-social li:last-child {
  margin-right: 0; }

.footer .copyright {
  display: flex;
  justify-content: start;
  align-items: center; }

.footer .copyright img {
  display: block;
  width: 80px;
  margin-right: 38px; }

.footer .statement-policy {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.footer .policy a {
  font-size: 14px;
  line-height: 1.5em;
  margin-right: 3.875rem; }

.footer .policy a:last-of-type {
  margin-right: 0; }

/* pad */
@media (max-width: 992px) {
  .footer {
    padding: 2.5em 0; }
  .footer .link-map {
    /* 24px */
    margin-bottom: 1.5rem; }
  .footer .link-map li {
    /* 40px */
    padding-right: 2.5rem; }
  .footer .info-contact {
    padding-bottom: 27px;
    /* 20px */
    font-size: 1.25rem;
    line-height: 1.5rem; }
  .footer .info-contact li {
    margin-bottom: 11px; }
  .footer .info-contact li .img-wrap {
    /* 32 + 8 */
    max-width: 32px;
    margin-right: 8px; }
  .footer .info-social li img {
    width: 1.5rem;
    height: 1.5rem; }
  .footer .info-social li {
    margin-right: 1.5rem; }
  .footer .copyright img {
    display: none; } }

/* mobile */
@media (max-width: 767px) {
  .footer {
    /* 24px */
    padding: 1.5em 0; }
  .footer .linkMap-contactMethod-socialIcon {
    /* 16px */
    margin-bottom: 1rem; }
  .footer .link-map {
    display: none;
    margin-bottom: 0; }
  .footer .info-contact {
    padding-bottom: 1.5rem;
    /* 16px */
    font-size: 1rem;
    line-height: 1.5rem; }
  .footer .info-contact li {
    /* 8px */
    margin-bottom: 0.5rem; }
  .footer .info-contact li .img-wrap {
    width: 20px;
    height: 20px;
    margin-right: 5px; }
  .footer .copyright {
    flex-direction: row-reverse;
    font-size: 14px;
    align-items: flex-end; }
  .footer .copyright img {
    display: block;
    width: 46px;
    margin-right: 0; }
  .footer .statement-policy {
    display: block; }
  .footer .statement-policy p {
    margin-bottom: 0.5rem; }
  .footer .statement-policy .policy a {
    display: block;
    margin-bottom: 0.5rem; }
  .footer .statement-policy .policy a:last-child {
    margin-bottom: 0; } }

/***************
Cover Page
****************/
.cover-page {
  background-image: url(../img/banner.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center; }

.anchor-slogan {
  height: 840px;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.cover-title {
  text-align: right;
  color: #650300;
  font-weight: 600; }

.title-prefix {
  font-size: 36px;
  line-height: 54px;
  font-weight: 500;
  height: 50px; }

.slogan-title {
  font-size: 64px;
  line-height: 96px;
  height: 90px; }

/* pad */
@media (max-width: 992px) {
  .container {
    max-width: 672px; }
  .title-prefix {
    font-size: 20px;
    line-height: 30px;
    height: 28px; }
  .slogan-title {
    font-size: 48px;
    line-height: 72px;
    height: 67px; } }

/* mobile */
@media (max-width: 767px) {
  .cover-page {
    background-image: url(../img/banner-mobile.png);
    background-size: cover; }
  .container {
    max-width: 352px; }
  .anchor-slogan {
    max-height: 394px; }
  .title-prefix {
    font-size: 16px;
    line-height: 30px;
    height: 22px; }
  .slogan-title {
    font-size: 32px;
    line-height: 72px;
    height: 45px; } }

/****************
* Features
* 專業是有價的
******************/
.feature {
  padding-top: 64px;
  padding-bottom: 80px;
  background-color: #AA06010D;
  /* 卡片內容排版 */ }
  @media (max-width: 992px) {
    .feature {
      padding-top: 40px;
      padding-bottom: 48px; } }
  @media (max-width: 767px) {
    .feature {
      padding-top: 32px; } }
  .feature h2, .feature h3 {
    color: #650300;
    line-height: 1.5em; }
  .feature p {
    line-height: 1.5em;
    font-size: 16px; }
  .feature h2 {
    margin-bottom: 44px;
    font-size: 48px;
    font-weight: 900;
    text-align: center; }
  .feature h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 4px; }
  @media (max-width: 992px) {
    .feature h2 {
      margin-bottom: 12px;
      font-size: 32px; }
    .feature h3 {
      font-size: 20px; } }
  @media (max-width: 767px) {
    .feature h2 {
      margin-bottom: 12px;
      font-size: 24px;
      line-height: 2em; } }
  .feature .card-collection {
    /* 卡片與卡片之間的排版 */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*每張卡片齊頭*/
    align-items: flex-start; }
  .feature .card {
    /* pb 為0, 底下 paragraph 直接碰在 card 最底部 */
    padding: 16px 37px 0;
    display: flex;
    flex-direction: column;
    /* 預設由上往下排排，但排版為水平置中 */
    align-items: center;
    /* 每張圖左右間隔 206px 和桌機版 XD稿 一樣*/
    width: 23.5%;
    /* pad */
    /* mobile */
    /* Set card img container */ }
    @media (max-width: 992px) {
      .feature .card {
        padding: 20px 50px 8px;
        width: 48%;
        margin-bottom: 12px; } }
    @media (max-width: 767px) {
      .feature .card {
        padding: 20px 64px 8px;
        width: 98%;
        margin-bottom: 0; } }
    .feature .card .img-wrap {
      /* svg圖檔垂直置中於100*100 的容器中 */
      display: flex;
      align-items: center;
      width: 100px;
      height: 100px;
      margin-bottom: 40px; }

/**************
Classic series
經典系列鏡框
******************/
.classic {
  padding: 64px 0 80px; }

.classic h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5em;
  color: #650300;
  text-align: center;
  margin-bottom: 60px; }

/* 圖片與文字排版 */
.classic ul li {
  display: flex;
  align-items: center;
  margin-bottom: 32px; }

.classic ul li:nth-child(2) {
  flex-direction: row-reverse; }

.classic ul li:last-child {
  margin-bottom: 0; }

/* 經典系列鏡框 圖片容器 */
.classic .series .img-wrap {
  width: 792px;
  height: 320px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 24px; }

.classic .sunglasses .img-wrap {
  margin-left: 24px;
  margin-right: 0; }

.classic .optical .img-wrap {
  background-image: url(../img/product-1.png); }

.classic .sunglasses .img-wrap {
  background-image: url(../img/product-2.png);
  /* for hover change image */
  position: relative; }

/* 參考助教作法, hover 換圖
* 利用 偽元素 與 opacity
*/
.classic .sunglasses .img-wrap::before {
  content: '';
  background: url("../img/product-2-color.png") no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0; }

.classic .sunglasses .img-wrap:hover::before {
  opacity: 1; }

.classic .functional .img-wrap {
  background-image: url(../img/product-3.png); }

.series .product-name {
  display: flex; }

.classic .icon-wrap {
  width: 48px;
  margin-right: 8px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat; }

/* diamond icon*/
.optical .icon-wrap {
  background-image: url(../img/icon-diamond.svg); }

/* sun icon */
.sunglasses .icon-wrap {
  background-image: url(../img/icon-sun.svg); }

/* thunder icon */
.functional .icon-wrap {
  background-image: url(../img/icon-thunder.svg); }

.classic p {
  font-weight: 900;
  font-size: 48px;
  line-height: 1.5em;
  font-style: italic;
  color: #AA0601; }

/* pad */
@media (max-width: 992px) {
  .classic {
    padding: 40px 0 40px; }
  .classic h2 {
    font-size: 32px;
    line-height: 1.5em;
    margin-bottom: 32px; }
  .classic ul li {
    justify-content: start; }
  /* 圖片與文字排版 */
  .classic ul li:nth-child(2) {
    flex-direction: row; }
  /* 經典系列鏡框 圖片容器 */
  .classic .series .img-wrap {
    max-width: 410px;
    /* 387 / 672*/
    width: 57.6%;
    /* 不設定height 圖片比較小張 >"< */
    height: 168px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 24px; }
  /* 重置(reset) sunglassess 排版 */
  .classic .sunglasses .img-wrap {
    margin-left: 0; }
  .classic .product-name {
    /* 63 * 3 + 24 *2 */
    /* max-width: 237px; */
    /* icon文字 就置中了 */
    width: 42.4%;
    justify-content: center;
    /* align-items: center; */ }
  .classic .icon-wrap {
    max-width: 32px; }
  .classic p {
    font-weight: 900;
    font-size: 28px;
    line-height: 1.5em;
    text-align: center;
    font-style: italic;
    color: #AA0601; } }

/* mobile */
@media (max-width: 767px) {
  .classic {
    padding: 24px 0 24px; }
  .classic h2 {
    font-size: 24px;
    margin-bottom: 16px; }
  .classic ul li {
    width: 100%;
    justify-content: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 8px; }
  .classic .series .img-wrap {
    max-width: 352px;
    width: 100%;
    height: 134px;
    margin-right: 0; }
  .classic .product-name {
    color: white;
    position: absolute;
    margin-left: 0;
    z-index: 1; }
  .classic .icon-wrap {
    filter: brightness(500); }
  .classic p {
    color: #FFFFFF; } }

/* 以下開始參考助教的作法 */
/************************
* recommend
* 顧客推薦
**************************/
.recommend {
  padding-bottom: 5em; }

.recommend h2 {
  font-size: 3em;
  line-height: 1.5em;
  text-align: center;
  /* pb60 */
  /* 這是bug 嗎? 用 3.75em 會變成 180px */
  /* margin-bottom: 3.75em; */
  margin-bottom: 60px; }

.recommend-list {
  display: flex; }

.recommend-list li {
  width: 25%;
  margin-right: 1.5rem; }

.recommend-list img {
  display: block;
  margin-bottom: 1rem; }

.card-content {
  border: 1px solid #DEE2E6;
  /* 因為每張圖底下 都推了margin 1em
    所以 底下 內容再往上推 margin 1 em 補回來
    */
  margin-top: -1rem; }

.recommend-list .card-content {
  padding: 1rem;
  line-height: 1.5em; }

.card-content h4 {
  font-weight: bold;
  margin-bottom: 1rem; }

.card-content p {
  margin-bottom: 1rem; }

.card-content h5 {
  color: #707070; }

/* pad */
@media (max-width: 992px) {
  .recommend {
    padding-bottom: 2.5em; }
  .recommend h2 {
    font-size: 2em;
    margin-bottom: 2em; }
  .recommend-list {
    flex-wrap: wrap; }
  .recommend-list li {
    width: 46%;
    margin-bottom: 1.5rem; } }

/* mobile */
@media (max-width: 767px) {
  .recommend {
    padding-bottom: 1.5em; }
  .recommend h2 {
    font-size: 1.5em;
    margin-bottom: 1em; }
  .recommend-list li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem; }
  .recommend-list img {
    width: 100%;
    height: 256px;
    object-fit: cover; } }

/***************************************
*  contact
 **********************************/
.contact {
  background-color: #AA06010D;
  padding-top: 4em;
  padding-bottom: 5.75em; }

.contact .container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.contact-inner {
  /* 792/ 1200 = 66% */
  width: 66%; }

.contact h2 {
  text-align: center;
  font-size: 3em;
  /* line-height: 4.5em; */
  line-height: 72px;
  /* margin-bottom: 1.5em; */
  margin-bottom: 24px; }

.contact-inner p:first-of-type {
  font-size: 1.25rem;
  line-height: 30px;
  /* margin-bottom: 1.25rem; */
  margin-bottom: 20px; }

.contact .form-group {
  margin-bottom: 1rem; }

.contact .form-group label {
  display: block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5em;
  margin-bottom: 4px; }

.contact .form-group input,
.contact .form-group textarea {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 1px solid #000000;
  padding: 1rem;
  outline: 0; }

/* 參考助教做法 可以讓checkbox 和後面的文字對齊 baseline */
.contact-form .checkbox-description {
  display: flex;
  align-items: baseline; }

.contact-form .checkbox-description p {
  /*  42 -16*/
  margin-bottom: 26px; }

.contact .form-group input[type=checkbox] {
  width: auto;
  margin-right: 0.25rem; }

.contact .form-group input::placeholder,
.contact .form-group textarea::placeholder {
  color: black;
  opacity: .2; }

/* 確認送出 按鈕水平置中 */
.contact-form .submit {
  display: flex;
  justify-content: center;
  align-items: center; }

.contact-form .btn {
  background-color: #AA0601;
  color: white;
  width: 180px;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.5em;
  padding: 1rem;
  display: block;
  text-align: center;
  text-decoration: none; }

.contact-form .btn:hover {
  background-color: #650300; }

/* pad 和 desktop 排版一致，使用百分比做RWD */
/*mobile*/
@media (max-width: 767px) {
  .contact-inner {
    width: 95%; }
  .contact-inner p:first-of-type {
    font-size: 1rem; }
  .contact .form-group input,
  .contact .form-group textarea {
    padding: 7px 12px; } }

.faqBanner {
  background-image: url(../img/FAQ/faq-banner.png);
  height: 304px; }
  @media (max-width: 992px) {
    .faqBanner {
      background-image: url(../img/FAQ/faq-banner-md@2x.png); } }
  @media (max-width: 767px) {
    .faqBanner {
      background-image: url(../img/FAQ/faq-banner-sm@2x.png);
      height: 143px; } }
  .faqBanner .container {
    position: relative; }
  .faqBanner__text {
    font-size: 64px;
    margin-right: 10px;
    position: absolute;
    line-height: 1.5;
    left: 12px;
    bottom: 0; }
    @media (max-width: 992px) {
      .faqBanner__text {
        font-size: 3rem; } }
    @media (max-width: 767px) {
      .faqBanner__text {
        font-size: 1.75rem; } }
  .faqBanner__icon {
    margin-left: 16px; }
    @media (max-width: 992px) {
      .faqBanner__icon {
        width: 48px;
        margin-left: 8px; } }
    @media (max-width: 767px) {
      .faqBanner__icon {
        width: 24px; } }

.question {
  padding-top: 88px;
  padding-bottom: 88px; }
  @media (max-width: 992px) {
    .question {
      padding-top: 40px;
      padding-bottom: 104px; } }
  @media (max-width: 767px) {
    .question {
      padding-top: 24px;
      padding-bottom: 56px; } }
  .question__title {
    font-size: 2rem; }
    @media (max-width: 992px) {
      .question__title {
        font-size: 1.25rem; } }
  .question .list__item:not(.active) .arrow {
    transform: rotate(180deg);
    transition: all .35s; }
  .question .list__header {
    padding: 22px 38px;
    border: 1px solid #000;
    border-top: 0; }
    .question .list__header:hover {
      color: #AA0601; }
    @media (max-width: 767px) {
      .question .list__header {
        padding: 16px; } }
  .question .list__title {
    font-size: 1.25rem; }
    @media (max-width: 992px) {
      .question .list__title {
        font-size: 1rem; } }
  .question .list__body {
    padding: 22px 38px;
    background-color: #F2F2F2;
    border: 1px solid #000;
    border-top: 0; }
    @media (max-width: 767px) {
      .question .list__body {
        padding: 16px; } }
  .question .list .arrow {
    transition: all .35s; }

/*# sourceMappingURL=all.css.map */
